/* clases generales */

/* body {
  background-color: red;
} */

/*Estilos para iniciar sesion*/

.login-background {
    background-color: #755496;
    height: 100vh;
}

.imagotipo {
    width: 100%;
    padding-top: 22vh;
    padding-bottom: 5vh;
}

.btn-login {
    margin-bottom: 20px;
}

.btn-account {
    /* margin-bottom: 250px; */
}

.btn {
    width: 100%;
}

.textCenter {
    text-align: center;
}

input::placeholder,
textarea::placeholder,
select,
.color-purple {
    color: #701F6E !important;
}

.width100 {
    width: 100%;
}

.height {
    height: 85vh;
}

.padding1opx {
    padding: 10px;
}

.padding5px {
    padding: 5px;
}

.m-r {
    margin-right: 20px;
}

.p-b {
    padding-bottom: 2vh;
}

.background-color-color {
    background-color: #701F6E;
    color: #fff;
}

.tx-aling-rigth {
    text-align: right;
}
.color-white{
  color: #fff;
}


/* esilos header */

.background-header {
    /*background-color: #BF64F7;*/
    background: linear-gradient(rgb(191, 100, 247), rgb(205, 152, 240));
    /* #00E0E7; */
    height: 15vh;
}

.margin {
    margin-top: 2vh;
}

.icons {
    font-size: 110%;
    color: #701F6E;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: white;
}

.icons:hover {
    font-size: 110%;
    color: white;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #701F6E;
}

.icon {
    font-size: 180%;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.icon:hover {
    font-size: 180%;
    padding: 5px;
    color: #701F6E;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.options {
    position: absolute;
    background-color: #701F6E;
    color: white;
    padding: 10px;
    margin-top: 6px;
    z-index: 1;
}

.options>a>p {
    cursor: pointer;
    color: white;
}

.options>a>p :hover {
    cursor: pointer;
}



/* modal */
.load-image{
  font-size: 150%;
  border-radius: 50%;
  border: 1px solid #701F6E;
}

.image-load:hover {
  background-color: #701F6E;
  color: #fff;

/* input type file  */


/* input[type='file'] {
  color: #000 !important;
  opacity: 0;

} */

.color-white {
    color: #fff;
}

/* subir imagen */
.image-form:hover {
  color: rgb(162, 82, 224);
}

/* fonts */

.font-dosis {
    font-family: 'Dosis', sans-serif;
}

.font-cabin {
    font-family: 'Cabin', sans-serif;
}


/* estilos textare */


/* #recomendacion {
  width: 80%;
} */


/*Estilos para seccion de recommendacion */

.location {
    background-color: #523470;
    color: white;
    padding-top: 5px;
    height: 8vh;
}

.icon-location {
    color: white;
    padding-top: 5px;
    margin-right: 0px;
}

.btn {
    padding: 2px 10px;
}



/* .col-xs {
    margin-left: 0px;
    margin-right: 0px;
} */


/*Estilos para la seccion de post de usuario*/

.container-img {
    background-color: rgb(255, 0, 25);
}

.container-icons {
    background-color: orange;
}

.container-comment {
    background-color: #b8b2c6;
}
